extends base.pug
include mixins/video

block content
    div
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;

//- block content
//-     h3 #{video.views} #{video.views === 1 ? "view" : "views"}
//-     a(href=`${video.id}/edit`) Edit Video &rarr;
//-     //- relative address : href="edit"
//-     //- absolute address : href="/edit"
//-     ul  
//-         +video(video)